In [15]:
set1={1,2,3,4,9}

In [16]:
set1

{1, 2, 3, 4, 9}

In [17]:
set2=set([1,2,3,4,7])

In [18]:
set2

{1, 2, 3, 4, 7}

In [19]:
set1|set2

{1, 2, 3, 4, 7, 9}

In [20]:
set1&set2

{1, 2, 3, 4}

In [21]:
set1-set2

{9}

In [22]:
list1=[1,4,8,0,3,2,1,4,2,7,6,8,]

In [23]:
list1

[1, 4, 8, 0, 3, 2, 1, 4, 2, 7, 6, 8]

In [24]:
set(list1)

{0, 1, 2, 3, 4, 6, 7, 8}

In [25]:
list(set(list1))

[0, 1, 2, 3, 4, 6, 7, 8]

In [26]:
set2={1,2,3}

In [27]:
set2

{1, 2, 3}

In [28]:
set2.add(7)

In [29]:
set2

{1, 2, 3, 7}

In [30]:
set2.remove(7)

In [31]:
set2

{1, 2, 3}

In [35]:
[x**2 for x in range(10)if x%2==0]

[0, 4, 16, 36, 64]

In [36]:
[x for x in range(1,100) if x%2==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [40]:
[x for x in range(1,100) if x%2==1]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [52]:
 str1='chaturya'
str2='sunitha'
set(str1)-set(str2)

{'c', 'r', 'y'}

In [53]:
[(x,x**2)for x in range(15)]

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100),
 (11, 121),
 (12, 144),
 (13, 169),
 (14, 196)]

In [54]:
set1=set([1,2,3,4])

In [55]:
set1

{1, 2, 3, 4}